<section class="monedas-container">
    <div class="title-container">
      <h2>Mis monedas</h2>
      <button class="agregar-moneda" (click)="agregarMoneda()">AGREGAR MONEDA</button>
    </div>
  
    <div class="monedas-header">
      <div>#</div>
      <div>Símbolo</div>
      <div>Nombre</div>
      <div>Tasa de cambio</div>
      <div>Acciones</div>
    </div>
    
    <div class="monedas-list">
      <div class="moneda-item">
        <div>Id</div>
        <div>Simbolo</div>
        <div>nombre</div>
        <div>tasaCambio</div>
        <div class="acciones">
          <button class="editar" (click)="editarMoneda(1)">✏️</button>
          <button class="eliminar" (click)="eliminarMoneda(1)">🗑️</button>
        </div>
      </div>
    </div>
  </section>

  <app-modal *ngIf="isModalOpen" (close)="closeModal()" (saveChanges)="handleSave()"></app-modal>

  <!-- *ngFor="let moneda of monedas" -->